.mainDash {
  display: flex;
  height: 15vh;
  width: 85vw;
  padding: 10px 20px;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  left: 15vw;
  z-index: 1;
}
.mainDash1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mainDash2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.insidemaindash2{
  display: flex;
  height: 20px;
  gap: 10px;
  align-items: center;
  width: fit-content;
}

.insidemaindash2 span{
  color: #707070;
  cursor: pointer;
}
.todoGroup {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 15vh;
  left: 15vw;
  gap: 5px;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #8daab9cc;
}

.insideGroup {
  height: 80vh;
  width: 25vw;
  background-color: #eef2f5;
  overflow-y: auto;
  margin-left: 10px;
  border-radius: 18px;
  scrollbar-width: thin;
  scrollbar-color: #8daab9cc;
  overflow-x: hidden;
}

.taskHeading img {
  position: relative;
  top: 5px;
  left: 60%;
  padding: 0px 5px;
  cursor: pointer;
}

.taskHeading {
  position: relative;
  padding: 5px 0px 0px 10px;
}

.filterTask {
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: absolute;
  left: 88%;
  top: 80%;
  height: 100px;
  width: 120px;
  padding: 10px;
  cursor: pointer;
}
