
.Container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  inset: 0;
  position:fixed;
  background-color: rgba(0, 0, 0, 0.4);
}
.insideLogout {
  height: 150px;
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
}
.logoutHeading{
  font-size: small;
  font-family: "Noto Sans", sans-serif;
}
.logoutBtn{
  font-family: "Poppins", sans-serif;
  width: 80%;
  height: 35px;
  background-color: #17A2B8;
  color: white;
  border-radius: 32px;
  border: none;
}
.cancelBtn{
  font-family: "Poppins", sans-serif;
  width: 80%;
  height: 35px;
  color: white;
  border-radius: 32px;
  border: 0.5px solid red;
  color: red;
}

