.userControl {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 15vw;
  background-color: #EEF2F5;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  z-index: 1;
}

.sideDashboard {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.logout {
  color: #cf3636;
  display: flex;
  margin-top: auto;
  gap: 10px;
  cursor: pointer;
}