.container {
  inset: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.formClass {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 50vw;
  gap: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 18px;
}

.starSpan {
  color: red;
}

.inputTypeText {
  height: 30px;
  width: 80%;
  border-radius: 4px;
  padding-left: 5px;
  margin-left: 10px;
  border: 0.5px solid grey;
  font-size: small;
}

.priorityDiv {
  display: flex;
  align-items: center;
}
.priorityOptions label {
  border: solid 0.1px lightgray;
  border-radius: 4px;
  padding: 5px;
  font-size: 0.9rem;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #767575;
}

.priorityOptions label input {
  display: none;
  /* opacity: 0; */
}

label:has(input[type="radio"]:checked) {
  background-color: #eeecec;
}
.priorityOptions {
  display: flex;
}

.bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.high {
  background-color: #ff2473;
}

.moderate {
  background-color: #18b0ff;
}

.low {
  background-color: #63c05b;
}

.checklistUperbox {
  overflow-y: scroll;
  height: 25vh;
  width: 100%;
}
.checklistUperbox::-webkit-scrollbar {
  width: 10px;
}
.checklistUperbox::-webkit-scrollbar-thumb {
  background-color: #9cb7c5;
  border-radius: 10px;
}
.checklistBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
  border: 1px solid black;
  height: 35px;
  border-radius: 30px;
  padding: 5px;
}

.checklistBox input {
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 400;
  font-size: medium;
}

.fotterbtn {
  display: flex;
  justify-content: space-between;
}
.fotterbtn button {
  width: 150px;
  height: 30px;
  border-radius: 32px;
}
.fbtn1 {
  border: 0.5px solid #e2e2e2;
  background-color: white;
  padding:  5px;
  height: 30px;
  border-radius: 14px;
}

.fbtn2 {
  border: 0.5px solid red;
  background-color: white;
  color: red;
}

.fbtn3 {
  background-color: #17a2b8;
  border: none;
  color: white;
}

.addButton {
  width: 15%;
  border: none;
  background-color: transparent;
}
